@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.MainBox {
    height: 100%;
    width: 100%;
}

.Title {
    font-family: 'Mulish', sans-serif;
    color: #515A4E;
    font-weight: 700;
    font-size: 35px;
}

.SubTitle {
    font-family: 'Mulish', sans-serif;
    color: #515A4E;
    font-weight: 500;
    font-size: 25px;
}
.SubText {
    font-family: 'Mulish', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
}