@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-image: url('../Assets/sea.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 50px;
    min-height: 100vh;
    margin: 0;
  }
  
.Background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    padding-top: 0px;
    font-family: 'Mulish', sans-serif;
    color: #515A4E;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.SubTitle {
    font-family: 'Mulish', sans-serif;
    color: #515A4E;
    font-weight: 500;
    font-size: 25px;
}
.SubText {
    font-family: 'Mulish', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.CenteredContent {
    height: 2000px; /*CHANGE WHEN DONE*/
    flex-direction: column;
    margin-top: 4%;
    border: 3px solid black;
    width: 60%;
    background-color: #F3E4D9;
}