.MainBody-Fish {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.FishItem {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
}