.IntroMain {
    width: 100%;
    background-color: #515A4E;
    border-bottom: 3px solid black;
}
.Top-Section {
    width: 100%;
}
.Top-Section-Nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.Top-Section-Photo {
    height: 250px;
    width: auto;
}